*.obj
*.lib
*.suo
*.ncb
*.user
*.idb
*.pdb
Debug/
Release/
*.tar.gz
*.dsc
*.deb
*.exe
*.[aos]
*.py[co]
*/build/
*/dist/
*/nbproject/private/
*/bin/
csharp/*/bin/
csharp/*/obj/
*.settings
.metadata
genfiles.properties
*.log